.app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.app-navbar img {
  margin: 0 16px;
}

.app-navbar a {
  margin: 8px;
  color: white;
}

.app-navbar a:hover {
  color: #cbc3bd;
}

a {
  text-decoration: none;
}

.app-navbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.app-navbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.app-navbar #twitter-logo:hover,
.app-navbar #youtube-logo:hover {
  opacity: 0.8;
}
